@model IEnumerable<DomainLayer.Models.Monitors>

<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #006600;
            background-color: #f1f1c1;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: #666;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover:not(.active) {
                    background-color: #ddd;
                }

                li a.active {
                    color: white;
                    background-color: #006600;
                }
    </style>
</head>
<body>

    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("Manufacturers","ManufacturersView")">Manufacturers</a></li>
        <li><a class="active" href="@Url.Action("Monitors","MonitorsView")">Monitors</a></li>
    </ul>

</body>

@{
    ViewData["Title"] = "Monitors";
}

<h1>Monitors</h1>

<p>
    <a href="@Url.Action("Create","MonitorsView")">Create New</a>
</p>

<style>
    table, th, td {
        border: 1px solid #006600;
        border-collapse: collapse;
    }

    th {
        padding: 8px;
        text-align: center;
    }

    td {
        padding: 5px;
        text-align: left;
    }

    table.monitors {
        width: 90%;
        background-color: #f1f1c1;
    }
</style>

<table class="monitors">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayName("Manufacturer")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolution)
            </th>
            <th>
                @Html.DisplayName("Full HD")
            </th>
            <th>
                @Html.DisplayName("Options")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resolution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFullHD)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MonitorID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MonitorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MonitorID })
                </td>
            </tr>
        }
    </tbody>
</table>
